@import"https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"; 

* {
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif
}

html {

    scroll-behavior: smooth
}

.title {

    margin-top: 1%;

}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}